body {
    font-family: sans-serif;
    background-color: #FFFFFF;
}
  
.box {
    width: 80%;
    height: 300px;
    border-radius: 1em;
    background-color: #f9f07e;
}

.bubble {
    width: 100%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #f9f07e;
    text-align: right;
}
  
